/* место для вашего кода */
header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 95px 50px 100px;
}

.horizontal-menu {
  display: flex;
  gap: 26px;
  list-style: circle;
  font-size: 18px;
}

.black-logo {
  display: block;
  width: 148px;
}

address {
  max-width: 240px;
  justify-self: end;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
}

.no-style-item {
  list-style: none;
}

.no-style-item a {
  text-decoration: none;
}

.cover {
  height: 757px;
  position: relative;
  z-index: 0;
  color: white;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  margin-bottom: 180px;
}

.cover-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 60%;
  z-index: -1;
}

.cover-heading {
  padding-top: 165px;
  font-size: 100px;
  text-align: center;
  letter-spacing: 30%;
  margin-right: -30px;
}

.cover-heading span {
  display: block;
}

.h-start {
  text-align: start;
}

.h-middle {
  padding-top: 20px;
  padding-bottom: 20px;
}

.h-end {
  text-align: end;
}

.description {
  font-size: 22px;
  margin-top: 106px;
}

.words {
  display: inline-block;
  word-spacing: 20px;
  margin-right: 90px;
}

.cover-button {
  display: inline-block;
  border: 1px solid white;
  padding: 12px 32px;
  color: white;
  background-color: transparent;
}

.lots {}

.normal-heading {}

.fragment {}

.fragment-heading {}

.ellipse {}
