/* место для вашего кода */
header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 86px 50px 86px;
}

.horizontal-menu {
  display: flex;
  gap: 34px;
  list-style: circle;
  font-size: 18px;
}

.black-logo {
  display: block;
  width: 148px;
}

address {
  max-width: 240px;
  justify-self: end;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
}

.no-style-item {
  list-style: none;
}

.no-style-item a {
  text-decoration: none;
}

.cover {
  height: 757px;
  position: relative;
  z-index: 0;
  color: white;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  margin-bottom: 180px;
}

.cover-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 60%;
  z-index: -1;
}

.cover-heading {
  padding-top: 165px;
  font-size: 100px;
  text-align: center;
  letter-spacing: 30%;
  margin-right: -30px;
}

.cover-heading span {
  display: block;
}

.h-start {
  text-align: start;
}

.h-middle {
  padding-top: 20px;
  padding-bottom: 20px;
}

.h-end {
  text-align: end;
}

.description {
  font-size: 22px;
  margin-top: 106px;
}

.words {
  display: inline-block;
  word-spacing: 20px;
  margin-right: 90px;
}

.cover-button {
  display: inline-block;
  border: 1px solid white;
  padding: 12px 32px;
  color: white;
  background-color: transparent;
}

.lots {
  padding-left: 24px;
  padding-right: 24px;
}

.lots-heading {
  font-size: 40px;
  margin-left: 40px;
  margin-bottom: 27px;
}

.cards-list {
  display: flex;
  list-style: none;
  gap: 25px;
  color: white;
  flex-wrap: wrap;
}

.fragment {
  position: relative;
  z-index: 0;
  width: 334px;
  height: 596px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 40px;
  margin-bottom: 30px;
}

.fragment-heading {
  max-width: 254px;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}

.article-f {
  font-size: 20px;
  width: 254px;
  margin-top: auto;
}

.lots-link {
  font-size: 20px;
  margin-left: 40px;
}

.about {
  padding-left: 24px;
  padding-right: 24px;
  display: grid;
  grid-template-columns: 334px auto;
  align-items: center;
  margin-bottom: 180px;
}

.ellipse {
  margin-top: -158px;
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.white-logo {
  width: 148px;
  height: auto;
}

.about p {
  font-size: 20px;
  width: 690px;
}

.first-p {
  margin-bottom: 24px;
}

.about-div {
  margin-left: 26px;
}

.about-heading {
  margin-top: 260px;
  font-size: 40px;
  margin-bottom: 100px;
}


.list-img {
  width: 48px;
  height: 48px;
}

.foot-menu {
  list-style: none;
  gap: 50px;
}

footer {
  padding: 0 50px;
  display: grid;
  grid-template-columns: 240px auto 240px;
}

.center-foot-menu {
  font-size: 18px;
  list-style: none;
  text-align: center;
}
